<%- include ('./partials/header') %>
<link rel="stylesheet" href="/stylesheets/landing.css" />
<div class="m-0 m-md-3 d-flex flex-row my-flex-container">
  <div class="bd-highlight col-8 flex-item">
    <div class="d-flex flex-column my-flex-container">
      <div class="bd-highlight my-vertical">
        <div class="d-flex flex-row my-flex-container">
          <div
            class="m-0 m-md-2 bd-highlight my-horizontal item-1 shadow rounded animated slideInDown"
          ></div>
          <div
            class="m-0 m-md-2 d-none d-md-block bd-highlight my-horizontal item-2 shadow rounded animated slideInDown"
          ></div>
          <div
            class="m-0 m-md-2 d-none d-md-block bd-highlight my-horizontal item-3 shadow rounded animated slideInDown"
          ></div>
        </div>
      </div>
      <div class="bd-highlight my-vertical">
        <div class="d-flex flex-row my-flex-container">
          <div
            class="m-0 m-md-2 d-none d-sm-block bd-highlight my-horizontal item-5 shadow rounded animated slideInLeft"
          ></div>
          <div class="p-2 m-1 bd-highlight maincontent">
            <h1>TRIPLLIN</h1>
            <h5 class="d-block tag-line">
              WANT A CAR? WHT TO BUY ONE JUST BOOOK ONE
            </h5>
            <a href="/cars" class="btn btn-outline-danger">VIEW CARS</a>
          </div>
        </div>
      </div>
      <div class="bd-highlight my-vertical">
        <div class="d-flex flex-row my-flex-container">
          <div
            class="m-0 m-md-2 bd-highlight my-horizontal-end item-6 shadow rounded animated slideInUp"
          >
            hhhhhhhhh
          </div>
          <div
            class="m-2 d-none d-md-block bd-highlight my-horizontal-end item-7 shadow rounded animated slideInUp"
          >
            hhhhhhhhh
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="m-1 m-md-2 bd-highlight col-4 flex-item item-4 shadow rounded animated slideInRight"
  ></div>
</div>

<div class="fixed">
  <div class="intro p-3 mt-5">
    <h2>WHAT WE AIM</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere expedita
      incidunt aliquam eius officia atque. Molestiae aliquam repellat ipsa
      adipisci, eos fuga iste quia accusantium, doloribus quisquam reiciendis
      reprehenderit molestias! Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Facere expedita incidunt aliquam eius officia atque.
      Molestiae aliquam repellat ipsa adipisci, eos fuga iste quia accusantium,
      doloribus quisquam reiciendis reprehenderit molestias!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere expedita
      incidunt aliquam eius officia atque. Molestiae aliquam repellat ipsa
      adipisci, eos fuga iste quia accusantium, doloribus quisquam reiciendis
      reprehenderit molestias! Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Facere expedita incidunt aliquam eius officia atque.
      Molestiae aliquam repellat ipsa adipisci, eos fuga iste quia accusantium,
      doloribus quisquam reiciendis reprehenderit molestias!
    </p>
  </div>
</div>
<div class="padding">
  <div class="row m-5 p-3">
    <div class="col-xs-6 col-lg-3 about wow slideInLeft">
      <img
        src="https://thumbs.dreamstime.com/z/photo-enforced-traffic-light-sign-13222090.jpg"
        alt="..."
        class="rounded-circle"
      />
      <h4>Firdausia Fatima</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
        nulla! Numquam repellendus tempora
      </p>
    </div>
    <div class="col-xs-6 col-lg-3 about wow slideInDown">
      <img
        src="https://thumbs.dreamstime.com/z/photo-enforced-traffic-light-sign-13222090.jpg"
        alt="..."
        class="rounded-circle"
      />
      <h4>Ifa Zareen</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
        nulla! Numquam repellendus tempora
      </p>
    </div>
    <div class="col-xs-6 col-lg-3 about wow slideInUp">
      <img
        src="https://thumbs.dreamstime.com/z/photo-enforced-traffic-light-sign-13222090.jpg"
        alt="..."
        class="rounded-circle"
      />
      <h4>Mohammad Yawar</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
        nulla! Numquam repellendus tempora
      </p>
    </div>
    <div class="col-xs-6 col-lg-3 about wow slideInRight">
      <img
        src="https://thumbs.dreamstime.com/z/photo-enforced-traffic-light-sign-13222090.jpg"
        alt="..."
        class="rounded-circle"
      />
      <h4>Sameer Khan</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
        nulla! Numquam repellendus tempora
      </p>
    </div>
  </div>
</div>
<script>
  new WOW().init();
</script>
<%- include ('./partials/footer') %>
