<%- include ('./partials/header') %>

<div class="container">
  <h1 class="center">
    Login
    <p>
      <svg
        class="bi bi-person-fill"
        width="3em"
        height="3em"
        viewBox="0 0 16 16"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z"
          clip-rule="evenodd"
        />
      </svg>
    </p>
  </h1>
  <div class="level1">
    <form action="/login" method="post">
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          name="username"
          placeholder="username"
        />
      </div>
      <div class="form-group">
        <input
          class="form-control"
          type="password"
          name="password"
          placeholder="password"
        />
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-outline-info btn-block">Login</button>
      </div>
    </form>
    <a href="/cars">Go Back</a>
  </div>
</div>

<%- include ('./partials/footer') %>
